{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mathree System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fleet/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fleet/admin.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo"><a href="{% url 'login' %}">Mathree System</a></div>
      <ul>
        {% comment %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endcomment %}
        <form action="{% url 'logout' %}" method="POST" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="logout-button">Logout</button>
        </form>
      </ul>
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>© 2025 Mathree System. All rights reserved.</p>
    </footer>
  </body>
</html>
